# Python
backend/venv/
__pycache__/
*.pyc

# Node
frontend/node_modules/
frontend/.next/

# Environment Variables
.env
.env.local

# Mac
.DS_Store

# VS Code
.vscode/

.env


RL_ERP-PMRD.md
templates/
GOALS.md
AGENT.md
AGENTS.md
frontend(old)/
docs/frontend/ORDER